In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# tickerrs represent Amazon and it chinese peer Alibaba
tickers = ['AMZN', 'BABA']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t]=wb.DataReader(t, data_source='yahoo', start='2015-1-1')['Adj Close']

In [10]:
sec_data.head()

                  AMZN        BABA
Date
2015-01-02  308.519989  103.599998
2015-01-05  302.190002  101.000000
2015-01-06  295.290009  103.320000
2015-01-07  298.420013  102.129997
2015-01-08  300.459991  105.029999

In [12]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [13]:
# daily rate of return of stock
sec_returns

                AMZN      BABA
Date
2015-01-02       NaN       NaN
2015-01-05 -0.020731 -0.025417
2015-01-06 -0.023098  0.022710
2015-01-07  0.010544 -0.011584
2015-01-08  0.006813  0.028000
...              ...       ...
2020-07-13 -0.030459 -0.036440
2020-07-14 -0.006464 -0.012354
2020-07-15 -0.024663  0.002531
2020-07-16 -0.002986 -0.027294
2020-07-17 -0.012724  0.018953

[1395 rows x 2 columns]

### Mean returns & Std Deviation

In [22]:
sec_returns[['AMZN','BABA']].mean() * 250

AMZN    0.405635
BABA    0.155921
dtype: float64

In [23]:
sec_returns[['AMZN', 'BABA']].std() * 250 ** 0.5

AMZN    0.301698
BABA    0.325410
dtype: float64

From the data, Amaxon has a higher mean return and reltively lower std deviation - though it on its own it's quite high. Alibaba has a higher standard deviation and a lower rate of return meaning it is more riskier with lesser rewards,making it the least attractive option.

## Covariance and Correlation

In [37]:
# annual variance between Amazon and Alibaba stock
sec_var= sec_returns[['AMZN','BABA']].var()
annual_sec_var = sec_var * 250 
annual_sec_var

AMZN    0.091022
BABA    0.105892
dtype: float64

In [38]:
# Covariance between Amazon and Alibaba
cov_matrix = sec_returns.cov()*250
cov_matrix

          AMZN      BABA
AMZN  0.091022  0.048701
BABA  0.048701  0.105892

The covarriance between returns from Amazon and Alibaba stocks is positive indicating that they move in the same direction

In [40]:
# correlation of returns between return from Amazon and Alibaba stock
corr_matrix = sec_returns.corr()
corr_matrix

          AMZN      BABA
AMZN  1.000000  0.496056
BABA  0.496056  1.000000

From the data, Amazon and Alibaba stock are partially exposed to similar risks, with correlation between them being 0.49,meaning it's neither high nor low. The stocks move together in the same proportion as they don't.

# Calculating Portfolio Risk

Equal weighting scheme:

In [41]:
# Amazon and Alibab are weighted equally
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [47]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07357868846003415

Portfolio Volatility:

In [48]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.27125391879203176

In [50]:
pfolio_vol = str(round(pfolio_vol, 5) * 100) + ' %'
print(pfolio_vol)

27.125 %

## Calculating Diversifiable and Non DIversifiable Risk of a Portfolio

In [51]:
weights = np.array([0.5, 0.5])

0.5

#### Diverfiable Risk:

In [66]:
pfolio_divr = sec_returns[['AMZN', 'BABA']].var() * 250
pfolio_divr

AMZN    0.091022
BABA    0.105892
dtype: float64

In [71]:
dr = pfolio_var - (weights[0] ** 2 * pfolio_divr[0]) - (weights[1] ** 2 * pfolio_divr[1])
drpercentage = str(round(dr*100, 4)) + '%'

In [72]:
print(drpercentage)

-5.2946%

#### Non-Diversifiable Risk

In [74]:
n_dr_1 = pfolio_var -dr
n_dr_1

0.04922836595975385

In [77]:
n_dr_2 = (weights[0]** 2 * pfolio_divr[0]) + (weights[1] ** 2 * pfolio_divr[1])
n_dr_2

0.04922836595975385